@import "../../styles/theme";

//container
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

//list container
.list-root {
  position: relative;
  flex: 1;
  overflow-y: auto;
}

//list item
.item-root {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 1px;
    background-color: $gray;
  }

  //&:hover{
  //  background-color: $primary;
  //  .item-primary{
  //    color: #fff;
  //  }
  //}

}

.item-primary {
  color: $primary;
}

//jump control
.control {
  $size: 40px;
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: $size;

  .fab {
    width: $size;
    height: $size;

    & + .fab {
      margin-top: 16px;
    }
  }
}

//left menu

.left-menu {
  width: 160px;
  padding: 16px 11px;

  .icon {
    text-align: center;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

  }
  h1 {
    margin-top: 20px;
    text-align: center;
    color: $primary;
    font-size: 1rem;
  }
}
