<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <title>动漫日语300句</title>
    <script>

    </script>
</head>
<body>
     <div id="container">

     </div>
     <script>
         // var defineProperty = Object.defineProperty;
         // Object.defineProperty = function (exports, name) {
         //     if (name === '__esModule') {
         //         exports[name] = true;
         //         return;
         //     }
         //     return defineProperty.apply(this, arguments);
         // };
     </script>
     <%(htmlWebpackPlugin.options.library||[]).forEach((item)=>{%>
        <script src="<%=item%>" crossorigin="anonymous" ></script>
     <%})%>
</body>
</html>
